
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{data.headline}}</title>
		<meta name="description" content="Full-view of a published article">
		<meta name="author" content="Cristian Petre">
		<link href="/style.css" type="text/css" rel="stylesheet">
		<link href="/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="/fontawesome-free/css/all.css" rel="stylesheet">
		<link rel="preload" href="/jquery.js" as "script">
		<link rel="preload" href="/bootstrap.min.js" as "script">
	</head>
	<body>
		{{> header }}
	</head>
	<body class="pb-4">
		<div class="container col-xs-12 col-md-6 pb-5 m-auto">
			<article>
				<h1 class="display-4 pt-4">{{data.headline}}</h1>
				<p>Posted by {{author_id}} on <strong id="date" class="font-weight-light">{{created_at}}</strong></p>
				<p class="font-italic text-muted">{{data.summary}}</p>
				<img src="/{{data.thumbnail}}" class="rounded">
				<p class="text-justify mt-3" style="white-space: pre-line;">{{data.content}}</p>
			</article>
		</div>
		{{> footer }}
	</body>
</html>
