
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{data.headline}}</title>
		<meta name="description" content="Full-view of a published article">
		<meta name="author" content="Cristian Petre">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<link href="/bootstrap.min.css" type="text/css" rel="stylesheet" />
		<link href="/fontawesome-free/css/all.css" rel="stylesheet" />
		<link rel="preload" href="/jquery.js" as "script">
		<link rel="preload" href="/bootstrap.min.js" as "script">
	</head>
	<body>
		{{> header }}
	</head>
	<body>
		<article>
			<h1>{{data.headline}}</h1>
			<p>Posted by {{author_id}} on <strong>{{created_at}}</strong></p>
			<div class="container">
			<h3 class="summary">{{data.summary}}</h3>
			<img src="{{data.thumbnail}}">
			<p class="content" style="white-space: pre-line;">{{data.content}}</p>
		</article>
		{{!-- {{> aFooter }} --}}
	</body>
</html>
